
.Left,
.Right {
  width: auto;
  flex:1;
  display: flex;
  flex-direction: column;
  max-height: inherit;
}
.Section {
  margin: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #2f9272;
  border-radius: 10px;
  box-sizing: border-box;
  height: 100%;
}
