.Chat {
  max-height: inherit;
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  .ChatHeader {
    font-size: 1.5rem;
    font-weight: bold;
    height: fit-content;
  }
  .ChatBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    .ChatLog {
      overflow: scroll;
      overflow-x: hidden;
      flex: 1;
      display: flex;
      flex-direction: column-reverse;
      .ChatLogItem {
        display: flex;
        flex-direction: row;
        height: fit-content;
        // padding: 0.5rem;
        // border: 1px solid #2f927288;
        border-radius: 2rem;
        .Username {
          font-weight: 700;
        }
        .UserMessage {
          padding-left: 1rem;
          flex: 1;
        }
      }
    }
    .ChatInput {
      margin-top: 0.5rem;
      width: 100%;
      height: 1.5rem;
      .ChatInput-input {
        box-sizing: border-box;
        height: inherit;
        width: inherit;
      }
    }
  }
}
.ChatLogItem {
  & + & {
    margin-bottom: 0.5rem;
  }
}
