.WaitingRoomHeader {
  color: var(--color-primary);
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;


  .staticHeader {
    position: relative;
    .title{
      margin-bottom: 1rem;
    }

    .buttonContainer {
      position: absolute;
      right: 0.5rem;
      top: 0;
    }
  }

  .MakeRoom {
    margin: 0.5rem 0 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;

    form {
      justify-content: center;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      div {
        display: flex;
        align-items: center;
      }
      input {
        border: 1px solid var(--color-primary);
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: bolder;
        cursor: pointer;
        flex: 1;
      }
    }
  }
}

.RoomList {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  overflow: hidden;
  max-height: 100%;

  .ListHeader {
    color: var(--color-background-main);
    background-color: var(--color-secondary);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
    font-size: 1rem;
    font-weight: bold;

    margin-bottom: 0.5rem;
    .column {
      width: 100%;
      padding:.5rem 0;
      color: inherit;
      line-height: 2rem;
      font-size: inherit;
      height: 100%;
      + p {
        border-left: 1px solid var(--color-background-main);
      }
    }
  }

  .RoomListItemContainer {
    display: flex;
    gap:.5rem;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-between;

    // align-items: center;
    max-height: 100%;


    .RoomListItem {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    
      .ItemLinkWrapper {
        box-sizing: border-box;
        border-radius: 0.5rem;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        padding:.5rem 0;
        height: 100%;
        p{
          flex: 1;
          color: inherit;
          height: 100%;
        }
        
      }
    }
  }
}
