

.board {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  height: 90%;

  border-radius: 10px;
  margin: auto;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--color-secondary);
    font-weight: 500;
    border-bottom: 2px solid var(--color-primary);
  }
  .item,
  .header {
    display: flex;
    justify-content: space-around;

    align-items: center;
    width: 100%;
  }
  .item {
    background-color: var(--color-background-sub);
    height: 50px;
    border: 1px solid #cccccc40;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    &:hover {
      background-color: var(--color-background-hover);
      font-weight: bold;
      .column{
        color:var(--color-text-highlight);
      }
    }
  
  .column {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
  .header {
    height: 10%;
    border-radius: 0px 0px 10px 10px;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;
    border-radius: 0px 0px 10px 10px;
  }
}
