.board {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  overflow: scroll;
  height: inherit;

  

  .title {
    margin-bottom: 1rem;
  }
  .header {
    display: flex;
    align-items: center;
    color: var(--color-background-main);
    background-color: var(--color-secondary);
    .column {
      color:inherit;
      padding: 0.5rem 1rem;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-align: center;
      margin-left: 1rem;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      +.column {
        border-left: 1px solid var(--color-background-main);
      }
    }
  }
  .list {
    height: inherit;
    overflow-y: scroll;
  }
  .header,
  .item{
    .column{
      
      &.flex-1{
        flex: 1;
      }
      &.flex-2 {
        flex: 2;
      }
      &.flex-3 {
        flex: 3;
      }
      }
      
    }
  .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-background-sub);
    .column {
      padding: 0.5rem 1rem;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-align: center;
      margin-left: 1rem;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      +.column {
        border-left: 1px solid var(--color-background-sub);
      }
      
    }
    // for linked-list
    a {
      display: inherit;
      width: 100%;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      background-color: var(--color-background-sub);
      margin: 0.125rem 0;
    }
    a:hover {
      background-color: var(--color-background-hover);
    }
  }
}
