.ProblemHeader {
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid var(--color-primary);
  .Problem-title {
    flex: 1;
    margin-bottom: 1rem;
  }
}

.ProblemContainer {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.ProblemBody {
  overflow-y: scroll;
  flex: 1;
  .Problem-section {
    .Problem-section-title {
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem;
    }
    .Problem-section-body {
      font-size: 1rem;
      padding-left: 1.5rem;
      margin-bottom: 0.5rem;
      ::before {
        content: '-';
        display: inline-block;
        width: 1rem;
        height: auto;
        margin-right: 0.5rem;
      }
    }
    .testcase {
      .testcase--header,
      .testcase--item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-primary);
        .input,
        .output {
          font-size: 1rem;
          line-height: 2rem;
          padding: 1rem;
          flex: 1;
          font-weight: bold;
          box-sizing: border-box;
        }
        .input + .output {
          border-left: 1px solid var(--color-primary);
        }
      }
      .testcase--header {
        .input,
        .output {
          text-align: center;
          font-weight: bold;
        }
      }
      .testcase--item {
        .input,
        .output {
          text-align: left;
          padding-left:2rem;
        }
      }
    }
  }
}

.ProblemBody::-webkit-scrollbar {
  display: none;
}
.verifycase--button--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  button {
    width: 100%;
    height: 3rem;
    border: none;
  }
}
