.userprofile{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  p{
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    padding:.5rem;
    color: inherit;
    span:before{
      content: ":";
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}