.Topper {
  padding-top: 0.5em;
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  height: fit-content;
  background: #2f9272aa;
  h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: white;
      text-shadow: #2f9272aa 0px 4px 4px;
    }
  }
  * {
    text-decoration: none;
    font-weight: bold;
    font-family: 'arial';
    text-align: center;
  }

  .NavigatorContainer {
    flex: 3;
    display: flex;

    font-size: 1.5em;
    margin: 0em 1em;
    justify-content: center;
    align-items: center;
    a {
      box-sizing: border-box;
      color: white;
      margin: 0em 1em;
    }
  }
  .ButtonContainer {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
  }

  button {
    border: none;
    background: none;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    // svg {
    //   width: 1.5em;
    //   height: 1.5em;
    // }
  }
}
