.Topper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  // margin-top: 5px;
  // margin-bottom: 10px;
  max-height: 5vh;
  min-height: 5vh;
  * {
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    margin: 2px;
    font-weight: bold;
    font-family: 'arial';
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }
  button {
    border: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
  }
}
