

.Topper {
  display: flex;
  padding: 0.5rem 1rem;
  height: 2rem;
  gap:3rem;
  line-height: 1.5rem;
  vertical-align: center;
  border-bottom: var(--color-primary) 1px solid;
  // border-bottom: 1px solid var(--color-primary);
  * {
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    font-family: 'arial';
    text-align: center;
    color: var(--color-primary);
    font-size: 1rem;
    display: inline-block;
  }
  a{
    font-size:1rem;
    display: inline-block;
    vertical-align: center;
    span{
      height: 100%;
      display: inline-flex;
      align-self: center;
    }
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-self: center;
  }
  h1 {
    font-size:1.5rem;
    a{ font-size: inherit; }
    text-shadow: var(--color-primary) 0px 4px 4px;
  }
  nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
  button {
    font-size: 1rem;
    padding:0;
    height: 100%;
    background: none;
    border: 1px solid #cccccc00;
    
    a {
      display: inline;
      text-decoration: none;
      vertical-align: center;
      text-align: center;
    }
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }  
  .right {
    display: flex;
    gap:1rem;
  }

  .textbutton {
    padding: 0 0.5rem;
    border: 1px solid var(--color-primary);
    a{
      height: 100%;
      display: flex;
      align-items:center;
      justify-content: center;
      
      font-stretch: semi-expanded;
    }
  }
}
