.mypage {
  width: 50%;
  .myaccount {
    
    .myaccount-topper{
      border-bottom: 1px solid var(--color-primary);
    }

    .myaccount-body {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      align-items: center;
      .leave-account--container {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button {
          align-items: center;
          display: flex;
          justify-content: center;
          gap: 0.25rem;
          font-size: 1rem;
          line-height: 2rem;
        }
      }
    }
  }
}
