.MyPage {
  margin: auto;
  min-height: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.LeaveAccount{
  button{
    width: 100%;
    border: 1px solid var(--color-secondary);
    outline: none;
    display: flex;
    gap:1rem;
    background-color: var(--color-background-sub);
    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-background-sub);
    }   
    svg{
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--color-secondary);
    }
    span{
      display: flex;
      justify-content: center;
      align-self: center;
      color: var(--color-secondary);
    }
  }
  
}
