


.Login--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  gap: 3rem;
  
  h1{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    text-align: left;
    margin-bottom: 1rem;
    box-sizing: content-box;
    border-bottom: 3px solid var(--color-primary);
  }  
  .Login--form--input--Area{
    flex:1;
    gap:2rem;
  }
  .Login--form{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 1rem;
    justify-content: space-end;
    .Login--form--input--Area{
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.5rem;
      gap: 0px;
      .Login--form--input{
        
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        font-size: 1.125rem;
        // border-radius: 5px;
        border: 1px solid #ccc;     
      }
      .Login--form--input:nth-child(1){
          border-radius: 5px 5px 0 0 ;
        }

      .Login--form--input:nth-child(2){
          border-radius: 0 0 5px 5px;
        }   
      .Login--form--input:focus{
        outline:none;
        border: 1px solid var(--color-primary);
      } 

  }
  button{
    width: 5rem;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 10px;
    border: 1px solid #fff;
  
    &:hover{
      background-color: #fff;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      transform: scale(0.925);
    }
  }
  }
  .Login--form--register{
    text-align: right;

    a{
      padding-left: 1rem;
      color: var(--color-primary);
    }
    a:active{
      color: #ccc;
     
    }
  
}
}