.LoginNeeded--wrapper {
  display: flex;
  justify-content: start;
  margin: 5% auto;
  align-items: center;
  flex-direction: column;
  
  .header::before,
  .header::after{
    content: "⚠️";
    font-size: 2rem;
    padding: 0 1rem;
  }
  div {
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    gap:2rem;
    display: flex;
    justify-content: space-between;
    
    p {
      font-size: 1.5rem;
      display: inline-block;
      align-self: center;
    }

  }
}
