

.wrapper {
  height: 50%;
  width: 50%;
  
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Signup--box {
  width: 80%;
  height: 50%;
  gap: 1rem;
  align-items: center;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: left;
    align-self: center;
    padding: 1rem;
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
  }
  form {
    box-sizing: border-box;
    padding: 2rem 2rem;
    
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:0;
    input {
      box-sizing: border-box;
      padding: 0.5rem;
      padding-left: 1rem;
      border-radius: 0;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.5rem;
      border: 1px solid #ccc;
      width: 100%;
      margin-top: -1px;
      position: relative;
      
      &:focus {
        outline: none;
        z-index: 2;
        border-color: var(--color-primary);
      }
      
    }

    .container {
      position: relative;

      .message {
        display: flex;
        // right sticky
        bottom: 0;
        right: 0.5rem;
        position: absolute;
        font-size: 0.75rem;
        font-weight: bold;
        text-align: end;
        display: block;
        z-index: 5;
        text-align: end;
        transform: translateY(-90%);
        &.false {
          color: var(--color-error);
        }
        &.true {
          color: var(--color-success);
        }
        &.warn {
          color: var(--color-warning)
        }
      }

      &:nth-of-type(1) input {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }
      &:nth-last-of-type(1) input {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }

    button{
      margin-top: 2rem;

    }
  }

}
