.LoginBoxContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000010;
}

.LoginBox {
  z-index: 1;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2f9272aa;
  padding: 0 1em 0 1em;
  color: white;
  .close-button {
    align-self: end;
  }
  .LoginHeader {
    font-size: 1.5em;
    font-weight: bold;
  }
  .app-title {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: #2f9272 2px;
  }
  .welcome-message {
    font-size: 1em;
  }
}
