.Editor {
  flex: 3;
  // max-height: 60vh;
  min-height: 50vh;
  // border-radius: 10px 10px 0px 0px;
  padding-top: 20px;
}

.IdeContainer {
  max-height: 90vh;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .Header {
    // background: yellow;
    height: fit-content;
    padding: 0.5em 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    display: flex;
    justify-content: space-between;
    .Timer {
      display: flex;
    }
  }
  .loading{
    position: absolute;
    z-index:32000;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-background-main);
    color: var(--color-text-default);
  }
}

.Output {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  span.correct{
    &.false{
      color: var(--color-error);
    }
    &.true{
      color: var(--color-success);
    }
  }
  span.prefix{
    color: var(--color-text-default);
    margin-right: 1rem;
  }


  .title {
    max-height: fit-content;
    background-color: var(--color-secondary);
    color: var(--color-background-main);
    padding:.25rem;
  }
  .body {
    flex: 1;
    overflow: scroll;
  }
  .body::-webkit-scrollbar{
    display: none;
  }
  .run {
    position:absolute;
    bottom: 0;
    right: 0;

    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:1rem;
    
  }
  .resultMessage{
    margin: .5rem 0;
    line-height: 1.2rem;
    font-size: 1rem;

  }
}
