.Setting--background--wrapper{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  position: absolute;
}
.SettingContainer {
  position: absolute;
  z-index: 20;
  top: 1.5rem;
  right: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 20%;

  background: var(--color-background-main);
  button{
    display: block;
    margin-left: auto;
    position: absolute;
    top:1rem;
    right:1rem;

  }
  
  .title{
    font-size: 1.5rem;
    display: block;
    line-height: 3;
    margin-top:-.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color:var(--color-secondary);
  }
  .options {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 1rem;
    align-items: center;
    p,select {
      flex: 1;
      vertical-align: center;
      font-size: 1rem;
      box-sizing: border-box;
      padding: 0.5rem;
    }
    p{
      text-align: center;
      margin-right: 1rem;
    }
    select {
      min-width: 10rem;
    }
    & + .options{
      margin-top:1rem;
    }
  }
}
