
.App {
  max-height: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-main);
  
  
}

*{
  color: var(--color-text-default);
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    // color: black;
    text-decoration: none;
  }
}
@-webkit-keyframes spin {
  100%{ -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  100%{ -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
  100%{ -ms-transform: rotate(360deg); }
}
@keyframes spin {
  100%{ transform: rotate(360deg); }
}



*::-webkit-scrollbar{
  display: none;
}
svg{
  width: 1rem;
  height: 1rem;
}
