* {
  margin: 0;
  padding: 0;
}
html {
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
}

body {
  max-height: inherit;
  min-height: inherit;
  /* height: 100%; */
}

#root {
  max-height: inherit;
  min-height: inherit;
}
